<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>笔记</title>

    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/note.js')}}"></script>
    <script type="text/javascript" src="/static/js/manager/jquery-2.1.0.js"></script>


    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/note.css')}} ">
</head>
<body background="{{ url_for('static',filename='images/tulip.jpg') }}">
<!-- Begin page -->
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img class="logo" src="">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/">首页</a></li>
                <li><a href="/tasks/">任务</a></li>
                <li class="active"><a href="/notes/">笔记</a></li>
            </ul>
            <form class="navbar-form navbar-left" action="" method="get">
                <div class="form-group">
                    <input name="q" type="text" class="form-control" placeholder="请输入关键字">
                </div>
                <button type="submit" class="btn btn-default">搜索查看</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                {% if user %}
                <li><a href="" id="">{{ user.username }}</a></li>
                <li><a href="/logout/">注销</a></li>
                {% else %}
                <li><a href="" id="login">登陆</a></li>
                <li><a href="" id="reg">注册</a></li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div class="main">

    <div class="left_content">
        <ul class="ul-style" id="notebook_index">
            <li class="li-style">
                <span class="header-style">目录 <a id="add_note" onclick="add_note(this)" href="javascript:void(0);"
                                                 style="float: right; margin-right: 5%;">新增</a></span>
            </li>

        </ul>
    </div>

    <div class="right_content">

        <div id="display">
            <h4 class="note_title">Python协程介绍</h4>
            <span class="note_date">时间：2017-12-12 12:12:12</span>

            <hr style="height:1px;border:none;border-top:1px solid #555555; width: 90%;">

            <div class="datas">
                协程：单进程下实现并发（提高效率）<br><br>

                说到协成，我们先说一下协程联想到的知识点<br><br>

                切换关键的一点是：保存状态（从原来停留的地方继续切）<br>
                return:只能执行一次，结束函数的标志<br>
                yield:函数中但凡有yield，这个函数的执行结果就变成了一个生成器，<br>
                生成器本质就是一个迭代器，那么迭代器怎么用呢？用一个next()方法<br><br><br>


                1.yield语句的形式：yield 1<br>
                yield功能1：可以用来返回值，可以返回多次值<br>
                yield功能2：可以吧函数暂停住，保存原来的状态<br><br>

                2.yield表达式的形式:x = yieldsend可以吧一个函数的结果传给另一个函数，以此实现单线程内程序之间的切换<br>
                send()要想用就得先next()一下<br>
                但是要用send至少要用两个yield　　<br><br>

            </div>
        </div>


    </div>

</div>

</div>


<script type="text/javascript" src="/static/js/manager/jquery-2.1.0.js"></script>
<script type="text/javascript" src="/static/js/manager/amazeui.min.js"></script>
<script type="text/javascript" src="/static/js/manager/app.js"></script>
<script type="text/javascript" src="/static/js/manager/blockUI.js"></script>


</body>

</html>
